body {
    font-family: Montserrat, sans-serif;
    color: #2c2927;
}

a {
    color: #a0c969;
}

a:hover,
a:focus {
    color: #f28100;
    outline: none;
}

#page{
    width: 100%;
}

#header {
    margin-bottom: 0;
    height: 56px;
}

.navbar-header{
    position: absolute;
    top: 0;
    left: 44%;
}

.navbar-header a img{
    padding: 6px 0;
    height: 44px;
}

.menu-header a{
    margin-top:10px;
    color: #f28100;
    font-size: 17px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.menu-header a:hover,
.menu-header a:focus{
    text-decoration: none;
}


.navbar-masthead.navbar-inverse .navbar-nav > li > a {
    color: #f28100;
}

.bootstrap-select > .dropdown-toggle{
    color: #222;
}

.form-control:focus {
    border-color: #a0c969;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link {
    color: #a0c969;
}

.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
    color: #f28100;
    border: none;
}

.btn-primary,
.btn-flat-primary {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}

.btn-primary:hover,
.btn-flat-primary:hover,
.btn-primary:focus,
.btn-flat-primary:focus,
.btn-primary.focus,
.btn-flat-primary.focus,
.btn-primary:active,
.btn-flat-primary:active,
.btn-primary.active,
.btn-flat-primary.active {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}
.btn-primary:active,
.btn-flat-primary:active,
.btn-primary.active,
.btn-flat-primary.active,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-flat-primary {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}
.btn-primary:focus:not(:active):not(.active):not(.btn-default),
.btn-flat-primary:focus:not(:active):not(.active):not(.btn-default),
.btn-primary.focus:not(:active):not(.active):not(.btn-default),
.btn-flat-primary.focus:not(:active):not(.active):not(.btn-default) {
    border: 1px solid #a0c969;
    background-color: #fff;
}
.btn-primary.disabled:hover,
.btn-flat-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-flat-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-flat-primary:hover,
.btn-primary.disabled:focus,
.btn-flat-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-flat-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-flat-primary:focus,
.btn-primary.disabled.focus,
.btn-flat-primary.disabled.focus,
.btn-primary[disabled].focus,
.btn-flat-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-flat-primary.focus {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #a0c969;
    background-color: #fff;
    border-color: #a0c969;
}

.btn-default,
.btn-flat-default {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}

.btn-default:hover,
.btn-flat-default:hover,
.btn-default:focus,
.btn-flat-default:focus,
.btn-default.focus,
.btn-flat-default.focus,
.btn-default:active,
.btn-flat-default:active,
.btn-default.active,
.btn-flat-default.active {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}

.btn-default:active,
.btn-flat-default:active,
.btn-default.active,
.btn-flat-default.active,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-flat-default {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}
.btn-default:focus:not(:active):not(.active):not(.btn-default),
.btn-flat-default:focus:not(:active):not(.active):not(.btn-default),
.btn-default.focus:not(:active):not(.active):not(.btn-default),
.btn-flat-default.focus:not(:active):not(.active):not(.btn-default) {
    border: 1px solid #a0c969;
}
.btn-default.disabled:hover,
.btn-flat-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-flat-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-flat-default:hover,
.btn-default.disabled:focus,
.btn-flat-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-flat-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-flat-default:focus,
.btn-default.disabled.focus,
.btn-flat-default.disabled.focus,
.btn-default[disabled].focus,
.btn-flat-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-flat-default.focus {
    color: #a0c969;
    border: 1px solid #a0c969;
    background-image: none;
    background-color: #fff;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #a0c969;
    background-color: #fff;
    border-color: #a0c969;
}

.pagination > li > a,
.pagination > li > span {
    color: #a0c969;
    background-color: #fff;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #a0c969;
    background-color: #fff;
    border-color: #a0c969;
}

.pagination > li > a:active {
    background-image: none;
    background-color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #a0c969;
    background-color: #fff;
    border-color: #a0c969;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #a0c969;
    text-shadow: none;
    background-color: #fff;
    border-color: #a0c969;
    background-image: none;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

#content {
    background-color: white;
}

@media (min-width: 768px) {
    #content {
        position: inherit;
        margin: 0;
        padding: 15px;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 185px;
        padding: 15px 0 15px 0;
        border-right: 1px solid #e7e7e7;
    }
}

@media print {
    #content{
        border-left: 0;
    }
}

.navbar{
    border: none !important;
    border-bottom: 1px solid #ebebeb !important;
}

.sidebar-nav{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sidebar-nav .metismenu ul a {
    padding-left: 30px;
}

.form-import{
    margin-bottom: 30px;
}

li.disabled a, li.disabled span{
    cursor: default !important;
}

form label[required=required]:after{
    content: "*";
}

.domain-id-column{
    width: 55px
}

.domain-id-column .btn{
    padding-top: 0;
    padding-bottom: 0;
}

.domain-action div{
    display: table-cell;
}

.domain-action a{
    padding: 5px;
}

.domain-column-nowrap{
    white-space: nowrap;
}

.btn{
    cursor: pointer !important;
}

.wicket-aa-container{
    z-index: 1000;
}

.wicket-aa{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 6px 0;
    margin: 1px 0 0;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.wicket-aa ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.wicket-aa li{
    cursor: pointer;
    padding: 3px 10px;
    white-space: nowrap;
    overflow: hidden;
}

.wicket-aa ul li.selected {
    background-color: rgb(238, 238, 238);
}

.form-control-info{
    height: auto;
    min-height: 30px;
}

.alert{
    display: inline-block;
}

.form-control[disabled]{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    cursor: default;
}

.pointer{
    cursor: pointer;
}

.pagination{
    margin: 0;
}

.panel-group .panel-heading a:before {
    margin-right: 7px;
    content: "";
}

.panel-group .panel-heading a.collapsed:before {
    margin-right: 7px;
    content: "";
}

.alert{
    padding: 8px 28px 5px 8px;
}

.wicket_orderUp {
    text-decoration: underline;
}

.wicket_orderDown {
    text-decoration: underline;
}

.panel-group .panel-heading {
    padding: 0;
}

.navigation .bootstrap-select{
    width: 55px !important;
    vertical-align: top;
    font-weight: normal;
}

.navigation .btn{
    vertical-align: top;
    font-weight: normal;
    line-height: 1.4;
    color: #a0c969;
    background-color: #fff;
    border: 1px solid #a0c969;
}

.select-list .list-group{
    margin-bottom: 12px;
}

.btn[disabled]{
    cursor: default !important;
}

.filter-td .bootstrap-select{
    width: 100% !important;
}

.dropdown-menu > li > a{
    padding: 3px 10px;
}

.nav > li > a.selected{
    text-decoration: none;
    color: #f28100;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: #fff;
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
    padding: 7px 10px !important;
}

.panel-group .panel-heading {
    border: none;
}

.dropdown-toggle{
    min-width: 39px;
}

.input-group .form-control{
    z-index: auto;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sd-nomenclatures ul{
    max-height: 220px;
    overflow-y: auto;
}

.sd-nomenclatures ul::-webkit-scrollbar {
    width: 5px;
}

.sd-nomenclatures ul::-webkit-scrollbar-thumb {
    background: #d9d9d9;
}

.sd-nomenclatures ul::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.sd-id{
    width: 33px;
}

.sd-id-td{
    width: 33px;
    vertical-align: middle !important;
}

.sd-add-condition{
    vertical-align: middle;
    width: 33px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.sd-add-action{
    vertical-align: middle;
    width: 33px;
    text-align: center;
}

.sd-comparator{
    min-width: 33px;
}

.sd-remove{
    vertical-align: middle;
    width: 33px;
    text-align: center;
}

.sale-id{
    width: 33px;
    vertical-align: middle !important;
}

.sale-action {
    padding-left: 0 !important;
    width: 55px;
    vertical-align: middle !important;
}

.sale-action div {
    display: table-cell;
}

.sale-action a{
    padding: 0 5px;
}

.sale-table .bootstrap-select{
    width: 100% !important;
}

.si-qty{
    width: 101px;
}

.si-price{
    width: 101px;
}

.table-hover > tbody > tr:hover{
    background-color: #f5f5f5;
}

tr.sale_status_closed>td{
    background-color: #ede7f6;
}

tr:hover.sale_status_closed>td{
    background-color: #d1c4e9;
}

p{
    margin: 0;
}

td div p{
    max-height: 120px;
    overflow-y: auto;
}

td div p::-webkit-scrollbar {
    width: 5px;
}

td div p::-webkit-scrollbar-thumb {
    background: #d9d9d9;
}

td div p::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: #000000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover:focus,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today:hover,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    color: #000000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #f28100;
    background-image: linear-gradient(to bottom, #f28100 0%, #f28100 100%);
    background-repeat: repeat-x;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    color: #ffffff;
    background-color: #f28100;
    background-image: linear-gradient(to bottom, #f28100 0%, #f28100 100%);
    background-repeat: repeat-x;
}
