body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-masthead {
    margin-bottom: 20px;
}

.form-import{
    margin-bottom: 30px;
}

li.disabled a, li.disabled span{
    cursor: default !important;
}
.domain-id-column{
    width: 55px;
}

.btn{
    cursor: pointer;
}