<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.domain.mapper.AttributeMapper">
    <!--<cache/>-->

    <resultMap id="attributeResultMap" type="ru.complitex.domain.entity.Attribute">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="entity_attribute_id" property="entityAttributeId"/>
        <result column="text" property="text"/>
        <result column="number" property="number"/>
        <result column="date" property="date"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="entity_name" property="entityName"/>
        <collection column="entityName=entity_name, attributeId=id" property="values"
                    select="ru.complitex.domain.entity.Value.selectValues"/>
    </resultMap>

    <!--suppress SqlResolve -->
    <insert id="insertAttribute" parameterType="ru.complitex.domain.entity.Attribute" useGeneratedKeys="true" keyProperty="id">
        insert into ${entityName}_attribute (object_id, entity_attribute_id, `text`, `number`, start_date, end_date,
          `status`, `user_id`)
            value (#{objectId}, #{entityAttributeId}, #{text}, #{number}, #{startDate}, #{endDate}, #{status}, #{userId})
    </insert>

    <!--suppress SqlResolve -->
    <insert id="insertAttributeWithDate" parameterType="ru.complitex.domain.entity.Attribute" useGeneratedKeys="true" keyProperty="id">
        insert into ${entityName}_attribute (object_id, entity_attribute_id, `text`, `number`, `date`, start_date,
          end_date, `status`, user_id)
        value (#{objectId}, #{entityAttributeId}, #{text}, #{number}, #{date}, #{startDate}, #{endDate}, #{status},
          #{userId})
    </insert>

    <!--suppress SqlResolve -->
    <select id="selectAttributes" parameterType="map" resultMap="attributeResultMap">
        select '${entityName}' entity_name, a.* from ${entityName}_attribute a where a.object_id = #{objectId} and a.status = 1
    </select>

    <!--suppress SqlResolve -->
    <select id="selectHistoryAttributes" parameterType="map" resultMap="attributeResultMap">
        select '${entityName}' entity_name, a.* from ${entityName}_attribute a where a.object_id = #{objectId}
        <if test="entityAttributeId != null"> and a.entity_attribute_id = #{entityAttributeId}</if>
    </select>

    <!--suppress SqlResolve -->
    <select id="selectHistoryAttributesLimit" parameterType="map" resultMap="attributeResultMap">
        select '${entityName}' entity_name, a.* from ${entityName}_attribute a where a.object_id = #{objectId}
        <if test="entityAttributeId != null"> and a.entity_attribute_id = #{entityAttributeId}</if>
          limit #{first}, #{count}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectHistoryAttributesCount" parameterType="map" resultType="long">
        select count(id) from ${entityName}_attribute where object_id = #{objectId}
        <if test="entityAttributeId != null"> and entity_attribute_id = #{entityAttributeId}</if>
    </select>

    <!--suppress SqlResolve -->
    <update id="archiveAttribute" parameterType="ru.complitex.domain.entity.Attribute">
        update ${entityName}_attribute set end_date = #{endDate}, `status` = 2 where id = #{id}
    </update>

    <!--suppress SqlResolve -->
    <select id="selectAttributeNumber" parameterType="map" resultType="long">
        select a.number from ${entityName} o
          left join ${entityName}_attribute a on a.object_id = o.object_id
        where o.status = 1 and o.object_id = #{objectId}
          and a.status = 1 and a.entity_attribute_id = #{entityAttributeId}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectAttributeNumberValues" parameterType="map" resultType="long">
       select v.number from ${entityName} o
          left join ${entityName}_attribute a on a.object_id = o.object_id
          left join ${entityName}_value v on v.attribute_id = a.id
        where o.status = 1 and o.object_id = #{objectId}
          and a.status = 1 and a.entity_attribute_id = #{entityAttributeId}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectAttributeText" parameterType="map" resultType="string">
        select a.text from ${entityName} o
          left join ${entityName}_attribute a on a.object_id = o.object_id
        where o.status = 1 and o.object_id = #{objectId}
          and a.status = 1 and a.entity_attribute_id = #{entityAttributeId}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectAttributeTextValue" parameterType="map" resultType="string">
        select v.text from ${entityName} o
          left join ${entityName}_attribute a on a.object_id = o.object_id
          left join ${entityName}_value v on v.attribute_id = a.id
        where o.status = 1 and o.object_id = #{objectId}
          and a.status = 1 and a.entity_attribute_id = #{entityAttributeId}
          and v.locale_id = 1
    </select>

</mapper>