<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.domain.mapper.AttributeMapper">
    <resultMap id="attributeResultMap" type="ru.complitex.domain.entity.Attribute">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="entity_attribute_id" property="entityAttributeId"/>
        <result column="text" property="text"/>
        <result column="number" property="number"/>
        <result column="date" property="date"/>
        <result column="json" property="json"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="entity_name" property="entityName"/>
        <collection column="entityName=entity_name, attributeId=id" property="values" select="ru.complitex.domain.entity.Value.selectValues"/>
    </resultMap>

    <resultMap id="attributeResultMapOpt" type="ru.complitex.domain.entity.Attribute">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="entity_attribute_id" property="entityAttributeId"/>
        <result column="text" property="text"/>
        <result column="number" property="number"/>
        <result column="date" property="date"/>
        <result column="json" property="json"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="entity_name" property="entityName"/>
        <collection columnPrefix="v_" property="values" resultMap="ru.complitex.domain.entity.Value.valueResultMap"/>
    </resultMap>

    <!--suppress SqlResolve -->
    <insert id="insertAttribute" parameterType="ru.complitex.domain.entity.Attribute" useGeneratedKeys="true" keyProperty="id">
        insert into ${entityName}_attribute (object_id, entity_attribute_id, `text`, `number`, start_date, end_date,
          `status`, `user_id`)
            value (#{objectId}, #{entityAttributeId}, #{text}, #{number}, #{startDate}, #{endDate}, #{status}, #{userId})
    </insert>

    <!--suppress SqlResolve -->
    <insert id="insertAttributeWithDate" parameterType="ru.complitex.domain.entity.Attribute" useGeneratedKeys="true" keyProperty="id">
        insert into ${entityName}_attribute (object_id, entity_attribute_id, `text`, `number`, `date`, start_date,
          end_date, `status`, user_id)
        value (#{objectId}, #{entityAttributeId}, #{text}, #{number}, #{date}, #{startDate}, #{endDate}, #{status},
          #{userId})
    </insert>

    <!--suppress SqlResolve -->
    <select id="selectAttributes" parameterType="map" resultMap="attributeResultMap">
        select '${entityName}' entity_name, a.* from ${entityName}_attribute a where a.object_id = #{objectId} and a.status = 1
    </select>

    <!--suppress SqlResolve -->
    <select id="selectAttributesOpt" parameterType="map" resultMap="attributeResultMapOpt">
        select '${entityName}' entity_name, a.*, v.id v_id, v.attribute_id v_attribute_id, v.locale_id v_locale_id,
          v.text v_text, v.number v_number
        from ${entityName}_attribute a left join ${entityName}_value v on v.attribute_id = a.id
          where a.object_id = #{objectId} and a.status = 1
    </select>

    <!--suppress SqlResolve -->
    <select id="selectHistoryAttributes" parameterType="map" resultMap="attributeResultMap">
        select '${entityName}' entity_name, a.* from ${entityName}_attribute a where a.object_id = #{objectId}
    </select>

    <!--suppress SqlResolve -->
    <update id="archiveAttribute" parameterType="ru.complitex.domain.entity.Attribute">
        update ${entityName}_attribute set end_date = #{endDate}, `status` = 2 where id = #{id}
    </update>

</mapper>