<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.domain.mapper.EntityValueMapper">
    <resultMap id="entityValueResultMap" type="ru.complitex.domain.entity.EntityValue">
        <id column="id" property="id"/>
        <result column="entity_id" property="entityId"/>
        <result column="entity_attribute_id" property="entityAttributeId"/>
        <result column="locale_id" property="localeId"/>
        <result column="text" property="text"/>
    </resultMap>

    <select id="selectEntityValues" parameterType="map" resultMap="entityValueResultMap">
        select * from entity_value where entity_id = #{entityId}
        <choose>
            <when test="entityAttributeId != null">and entity_attribute_id = #{entityAttributeId}</when>
            <otherwise>and entity_attribute_id is null</otherwise>
        </choose>
    </select>

</mapper>