<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.domain.entity.Value">
    <!--<cache/>-->

    <resultMap id="valueResultMap" type="ru.complitex.domain.entity.Value">
        <id column="id" property="id"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="locale_id" property="localeId"/>
        <result column="text" property="text"/>
        <result column="number" property="number"/>
    </resultMap>

    <!--suppress SqlResolve -->
    <insert id="insertValue" parameterType="ru.complitex.domain.entity.Value">
        insert into ${entityName}_value (attribute_id, locale_id, text) value (#{attributeId}, #{localeId}, #{text})
    </insert>

    <!--suppress SqlResolve -->
    <insert id="insertValueWithNumber" parameterType="ru.complitex.domain.entity.Value">
        insert into ${entityName}_value (attribute_id, locale_id, text, number)
          value (#{attributeId}, #{localeId}, #{text}, #{number})
    </insert>

    <!--suppress SqlResolve -->
    <select id="selectValues" parameterType="map" resultMap="valueResultMap">
        select * from ${entityName}_value where attribute_id = #{attributeId}
    </select>

</mapper>