<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.jedani.mapper.CityMapper">
    <insert id="insertCity" parameterType="ru.complitex.jedani.entity.City">
        insert into city (id, name, region_id, manager_id) value (#{id}, #{name}, #{regionId}, #{managerId})
    </insert>

    <select id="hasCity" parameterType="int" resultType="boolean">
        select count(id) > 0 from city where id = #{id}
    </select>
</mapper>