<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.jedani.mapper.RegionMapper">
    <insert id="insertRegion" parameterType="ru.complitex.jedani.entity.Region">
        insert into region (id, name, manager_id) value (#{id}, #{name}, #{managerId})
    </insert>

    <select id="hasRegion" parameterType="int" resultType="boolean">
        select count(id) > 0 from region where id = #{id}
    </select>
</mapper>