<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.user.mapper.UserMapper">
    <resultMap id="userResultMap" type="ru.complitex.user.entity.User">
        <id column="id" property="id"/>
        <result column="login" property="login"/>
        <result column="password" property="password"/>
        <collection property="userGroups" resultMap="ru.complitex.user.mapper.UserGroupMapper.userGroupResultMap" columnPrefix="ug_"/>
    </resultMap>

    <insert id="insertUser" parameterType="ru.complitex.user.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into `user` (login, password) value (#{login}, #{password});
    </insert>

    <select id="selectUserId" parameterType="string" resultType="long">
        select id from `user` where login = #{login}
    </select>

    <select id="selectUser" parameterType="long" resultMap="userResultMap">
        select u.*, ug.id ug_id, ug.login ug_login, ug.name ug_name
          from `user` u left join user_group ug on u.login = ug.login
        where u.id = #{id}
    </select>

    <select id="selectUserByLogin" parameterType="string" resultMap="userResultMap">
        select * from `user` where login = #{login}
    </select>

    <update id="updateUserPassword" parameterType="ru.complitex.user.entity.User">
        update `user` set password = #{password} where id = #{id}
    </update>

    <update id="updateUserLogin" parameterType="ru.complitex.user.entity.User">
        update `user` set login = #{login} where id = #{id}
    </update>

</mapper>