<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.jedani.worker.mapper.ProductMapper">
    <resultMap id="productResultMap" type="ru.complitex.jedani.worker.entity.Product"
               extends="ru.complitex.domain.mapper.DomainMapper.domainResultMapJoin">
    </resultMap>

    <sql id="selectProductFrom">
      left join product_attribute pa_s on pa_s.object_id = d.object_id and pa_s.status = 1
      left join product_attribute pa_s_into on pa_s_into.object_id = d.object_id and pa_s_into.status = 1
    </sql>

    <sql id="selectProductWhere">
        and (pa_s.number = #{map.storageId} or pa_s_into.number = #{map.storageId})
    </sql>

     <!--suppress SqlResolve -->
    <select id="selectProducts" parameterType="ru.complitex.common.entity.FilterWrapper" resultMap="productResultMap">
        select d.*, '${object.entityName}' entity_name,
            <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsSelect"/>
        from (
            select dd.object_id object_id
            from (
                select d.object_id object_id
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
                <include refid="selectProductFrom"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
                <include refid="selectProductWhere"/>
                group by d.object_id
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
            ) dd
            ${limit}
        ) o
        left join product d on d.object_id = o.object_id
        left join product_attribute a on a.object_id = d.object_id
        left join product_value v on v.attribute_id = a.id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
        group by d.id, a.id, v.id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
    </select>

    <!--suppress SqlResolve -->
    <select id="selectProductsCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="long">
        select count(distinct w.object_id) from (select d.object_id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
        <include refid="selectProductFrom"/>
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
        <include refid="selectProductWhere"/>
        ) w
    </select>

</mapper>