<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.jedani.worker.mapper.StorageMapper">
    <resultMap id="storageResultMap" type="ru.complitex.jedani.worker.entity.Storage"
               extends="ru.complitex.domain.mapper.DomainMapper.domainResultMapJoin">
        <result column="product_count" property="productCount"/>
        <result column="product_into_count" property="productIntoCount"/>
        <result column="product_from_count" property="productFromCount"/>
    </resultMap>

    <sql id="selectStorageFrom">
    </sql>

    <sql id="selectStorageWhere">
    </sql>

    <sql id="selectProductSql">
        select count(distinct p.object_id) from product p
            left join product_attribute pa_s on pa_s.object_id = p.object_id and pa_s.entity_attribute_id = 2 and pa_s.status = 1
            left join product_attribute pa_s_into on pa_s_into.object_id = p.object_id and pa_s_into.entity_attribute_id = 3 and pa_s_into.status = 1
    </sql>

    <sql id="selectProductCount">
      <include refid="selectProductSql"/>
      where pa_s.number = d.object_id and pa_s_into.number is null
    </sql>

    <sql id="selectProductIntoCount">
        <include refid="selectProductSql"/>
        where pa_s_into.number = d.object_id
    </sql>

    <sql id="selectProductFromCount">
        <include refid="selectProductSql"/>
        where pa_s.number = d.object_id and pa_s_into.number is not null
    </sql>

    <!--suppress SqlResolve -->
    <select id="selectStorages" parameterType="ru.complitex.common.entity.FilterWrapper" resultMap="storageResultMap">
        select d.*, '${object.entityName}' entity_name,
          (<include refid="selectProductCount"/>) product_count,
          (<include refid="selectProductIntoCount"/>) product_into_count,
          (<include refid="selectProductFromCount"/>) product_from_count,
          <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsSelect"/>
        from (
          select dd.object_id object_id
        from (
            select d.object_id object_id
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
                <include refid="selectStorageFrom"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
                <include refid="selectStorageWhere"/>
                group by d.object_id
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
            ) dd
            ${limit}
        ) o
        left join `storage` d on d.object_id = o.object_id
        left join storage_attribute a on a.object_id = d.object_id
        left join storage_value v on v.attribute_id = a.id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
        group by d.id, a.id, v.id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
    </select>

    <!--suppress SqlResolve -->
    <select id="selectStoragesCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="long">
        select count(distinct w.object_id) from (select d.object_id
            <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
            <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
            <include refid="selectStorageFrom"/>
            <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
            <include refid="selectStorageWhere"/>
        ) w
    </select>

</mapper>