<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.jedani.worker.mapper.WorkerMapper">
    <resultMap id="workerResultMap" type="ru.complitex.jedani.worker.entity.Worker"
               extends="ru.complitex.domain.mapper.DomainMapper.domainResultMapJoin">
        <result column="left" property="left"/>
        <result column="right" property="right"/>
        <result column="level" property="level"/>
        <association property="subWorkerCount" select="selectSubWorkerCount" column="{left=left,right=right}"/>
    </resultMap>

    <select id="selectMaxJId" resultType="string">
        select max(lpad(`text`, 6, '0')) from worker_attribute where entity_attribute_id = 1 and status = 1
    </select>

    <select id="selectIsExistJId" resultType="boolean" parameterType="map">
        select count(*) > 0 from worker_attribute wa left join worker w on wa.domain_id = w.id
            where wa.entity_attribute_id = 1 and wa.`text` = #{jId} and wa.`status` = 1
        <if test="objectId != null">and w.object_id != #{objectId}</if>
    </select>

    <sql id="selectWorkersWhereNode">
        <if test="object.left != null and object.right != null">
            and d.left > #{object.left} and #{object.right} > d.right

            <if test="filter == 'level3' and object.level != null">
                and #{object.level} + 3 > d.level
            </if>

            <if test="map.levelDepth != null and object.level != null">
                and #{object.level} + #{map.levelDepth} >= d.level
            </if>
        </if>
    </sql>

    <sql id="selectWorkersFromLogin">
        <if test="map.login != null or (sortProperty != null and sortProperty.key == 'login')">
            left join `user` u on u.id = d.parent_id
        </if>
    </sql>

    <sql id="selectWorkersWhereLogin">
        <if test="map.login != null">
            and u.login like concat('%', #{map.login}, '%')
        </if>
    </sql>

    <sql id="selectWorkersFromRegion">
        <if test="map.region != null">
            left join worker_attribute wa_c on wa_c.domain_id = d.id and wa_c.entity_attribute_id = 7 and wa_c.status = 1
            left join city c on wa_c.number = c.id
            left join region r on c.parent_id = r.id
            left join region_attribute ra on r.id = ra.domain_id and ra.entity_attribute_id = 1 and ra.status = 1
            left join region_value rv on ra.id = rv.attribute_id
        </if>
    </sql>

    <sql id="selectWorkersWhereRegion">
        <if test="map.region != null">
            and rv.text like concat('%', #{map.region}, '%')
        </if>
    </sql>

    <sql id="selectWorkersFromRegionLeader">
        <if test="map.regionLeader != null">
            left join worker_attribute wa_c_rl on wa_c_rl.domain_id = d.id and wa_c_rl.entity_attribute_id = 7 and wa_c_rl.status = 1
            left join city c_rl on wa_c_rl.number = c_rl.id
        </if>
    </sql>

    <sql id="selectWorkersWhereRegionLeader">
        <if test="map.regionLeader != null">
            and c_rl.parent_id = (
                select c.parent_id from city c left join worker_attribute wa on c.id = wa.number and wa.entity_attribute_id = 7 and wa.status = 1
                    where wa.domain_id = #{map.regionLeader}
            )
        </if>
    </sql>

    <sql id="selectWorkersFromManager">
        <if test="map.manager != null">
            left join worker_attribute wa_m on wa_m.domain_id = d.id and wa_m.entity_attribute_id = 17 and wa_m.status = 1

            left join worker_attribute wa_m_fn on wa_m_fn.domain_id = wa_m.number and wa_m_fn.entity_attribute_id = 2 and wa_m_fn.status = 1
            left join first_name m_fn on m_fn.object_id = wa_m_fn.number and m_fn.status = 1
            left join first_name_attribute m_fn_a on m_fn_a.domain_id = m_fn.id and m_fn_a.status = 1
            left join first_name_value m_fn_v on m_fn_a.id = m_fn_v.attribute_id

            left join worker_attribute wa_m_mn on wa_m_mn.domain_id = wa_m.number and wa_m_mn.entity_attribute_id = 3 and wa_m_mn.status = 1
            left join middle_name m_mn on m_mn.object_id = wa_m_mn.number and m_mn.status = 1
            left join middle_name_attribute m_mn_a on m_mn_a.domain_id = m_mn.id and m_mn_a.status = 1
            left join middle_name_value m_mn_v on m_mn_a.id = m_mn_v.attribute_id

            left join worker_attribute wa_m_ln on wa_m_ln.domain_id = wa_m.number and wa_m_ln.entity_attribute_id = 4 and wa_m_ln.status = 1
            left join last_name m_ln on m_ln.object_id = wa_m_ln.number and m_ln.status = 1
            left join last_name_attribute m_ln_a on m_ln_a.domain_id = m_ln.id and m_ln_a.status = 1
            left join last_name_value m_ln_v on m_ln_a.id = m_ln_v.attribute_id
        </if>
    </sql>

    <sql id="selectWorkersWhereManager">
        <if test="map.manager != null">
            and (concat(m_ln_v.text, ' ', m_fn_v.text, ' ', m_mn_v.text) like concat ('%', #{map.manager}, '%'))
        </if>
    </sql>

    <sql id="selectWorkersFromMkStatus">
        <if test="map.mkStatus != null">
            left join worker_attribute wa_mk on wa_mk.domain_id = d.id and wa_mk.entity_attribute_id = 15 and wa_mk.status = 1
            left join mk_status_attribute mka on wa_mk.number = mka.domain_id and mka.entity_attribute_id = 1 and mka.status = 1
            left join mk_status_value mkv on mka.id = mkv.attribute_id
        </if>
    </sql>

    <sql id="selectWorkersWhereMkStatus">
        <if test="map.mkStatus != null">
            and mkv.text like concat('%', #{map.mkStatus}, '%')
        </if>
    </sql>

    <sql id="selectWorkersWhere">
        <if test="map.level != null">
            and d.level = #{map.level}
        </if>
        <if test="map.subWorkersCount != null">
            and (select count(w.object_id) from worker w where w.left > (select d.left) and (select d.right) > w.right
                and w.status = 1) = #{map.subWorkersCount}
        </if>
    </sql>

    <!--suppress SqlResolve -->
    <sql id="selectWorkersSelectSort">
        <if test="sortProperty != null">
            <choose>
                <when test="sortProperty.key == 'subWorkersCount'">
                    , (select count(w.object_id) from worker w where w.left > d.left and d.right > w.right
                    and w.status = 1) sub_worker_count
                </when>
            </choose>
        </if>
    </sql>

    <sql id="selectWorkersOrderSort">
        <if test="sortProperty != null">
            <choose>
                <when test="sortProperty.key == 'login'">order by max(u.login + 0) ${asc}</when>
                <when test="sortProperty.key == 'level'">order by max(d.level) ${asc}</when>
                <when test="sortProperty.key == 'subWorkersCount'">order by max(sub_worker_count) ${asc}</when>
            </choose>
        </if>
    </sql>

    <select id="selectSubWorkerCount" parameterType="map" resultType="long">
        select count(w.object_id) from worker w where w.left > ${left} and ${right} > w.right and w.status = 1
    </select>

    <!--suppress SqlResolve -->
    <select id="selectWorkers" parameterType="ru.complitex.common.entity.FilterWrapper" resultMap="workerResultMap">
        select d.*, '${object.entityName}' entity_name,
            <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsSelect"/>
        from (
            select (dd.d_id) dd_id
            from (
                select d.id d_id
                <include refid="selectWorkersSelectSort"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
                <include refid="selectWorkersFromLogin"/>
                <include refid="selectWorkersFromRegion"/>
                <include refid="selectWorkersFromRegionLeader"/>
                <include refid="selectWorkersFromManager"/>
                <include refid="selectWorkersFromMkStatus"/>
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
                <include refid="selectWorkersWhere"/>
                <include refid="selectWorkersWhereNode"/>
                <include refid="selectWorkersWhereLogin"/>
                <include refid="selectWorkersWhereRegion"/>
                <include refid="selectWorkersWhereRegionLeader"/>
                <include refid="selectWorkersWhereManager"/>
                <include refid="selectWorkersWhereMkStatus"/>
                group by d.id
                <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
                <include refid="selectWorkersOrderSort"/>
            ) dd
            ${limit}
        ) o
        left join worker d on d.id = o.dd_id
        left join worker_attribute a on a.domain_id = d.id and a.status = 1
        left join worker_value v on v.attribute_id = a.id
        <include refid="selectWorkersFromLogin"/>
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromSort"/>
        group by d.id, a.id, v.id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsOrderSort"/>
        <include refid="selectWorkersOrderSort"/>
    </select>

    <!--suppress SqlResolve -->
    <select id="selectWorkersCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="long">
        select count(distinct w.object_id) from (select d.object_id
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFrom"/>
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsFromFilter"/>
        <include refid="selectWorkersFromLogin"/>
        <include refid="selectWorkersFromRegion"/>
        <include refid="selectWorkersFromRegionLeader"/>
        <include refid="selectWorkersFromManager"/>
        <include refid="selectWorkersFromMkStatus"/>
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainsWhere"/>
        <include refid="selectWorkersWhere"/>
        <include refid="selectWorkersWhereNode"/>
        <include refid="selectWorkersWhereLogin"/>
        <include refid="selectWorkersWhereRegion"/>
        <include refid="selectWorkersWhereRegionLeader"/>
        <include refid="selectWorkersWhereManager"/>
        <include refid="selectWorkersWhereMkStatus"/>
        ) w
    </select>

    <select id="selectWorker" parameterType="long" resultMap="workerResultMap">
        <include refid="ru.complitex.domain.mapper.DomainMapper.selectDomainSql"/>
    </select>

    <select id="selectWorkersByString" parameterType="map" resultMap="workerResultMap">
        select 'worker' entity_name, w.*,
            a.id a_id, a.domain_id a_domain_id, a.entity_attribute_id a_entity_attribute_id, a.text a_text,
            a.number a_number, a.date a_date, a.start_date a_start_date, a.end_date a_end_date, a.status a_status,
            a.user_id a_user_id, 'worker' a_entity_name, v.id v_id, v.attribute_id v_attribute_id,
            v.locale_id v_locale_id, v.text v_text, v.number v_number

          from
          (select distinct (w.object_id) object_id
              from worker w

              left join worker_attribute wa_jid on w.id = wa_jid.domain_id and wa_jid.entity_attribute_id = 1 and wa_jid.status = 1

              left join worker_attribute wa_fn on w.id = wa_fn.domain_id and wa_fn.entity_attribute_id = 2 and wa_fn.status = 1
              left join first_name fn on fn.object_id = wa_fn.number and fn.status = 1
              left join first_name_attribute fn_a on fn_a.domain_id = fn.id and fn_a.entity_attribute_id = 1 and fn_a.status = 1
              left join first_name_value fn_v on fn_v.attribute_id = fn_a.id

              left join worker_attribute wa_mn on w.id = wa_mn.domain_id and wa_mn.entity_attribute_id = 3 and wa_mn.status = 1
              left join middle_name mn on mn.object_id = wa_mn.number and mn.status = 1
              left join middle_name_attribute mn_a on mn_a.domain_id = mn.id and mn_a.entity_attribute_id = 1 and mn_a.status = 1
              left join middle_name_value mn_v on mn_v.attribute_id = mn_a.id

              left join worker_attribute wa_ln on w.id = wa_ln.domain_id and wa_ln.entity_attribute_id = 4
              left join last_name ln on ln.object_id = wa_ln.number and ln.status = 1
              left join last_name_attribute ln_a on ln_a.domain_id = ln.id and ln_a.entity_attribute_id = 1 and ln_a.status = 1
              left join last_name_value ln_v on ln_v.attribute_id = ln_a.id

              left join worker_attribute wa_t on w.id = wa_t.domain_id and wa_t.entity_attribute_id = 21 and wa_t.status = 1

              where
                  w.status = 1

                  <if test="type != null">
                      and (wa_t.number is null or wa_t.number = #{type})
                  </if>

                  <foreach collection="array" item="i" separator="and" open="and">
                      (wa_jid.text like concat('%', #{i}) or fn_v.text like concat('%', #{i}, '%') or
                      mn_v.text like concat('%', #{i}, '%') or ln_v.text like concat('%', #{i}, '%'))
                  </foreach>


              limit 10
          ) ww
          left join worker w on w.object_id = ww.object_id
          left join worker_attribute a on a.domain_id = w.id
          left join worker_value v on v.attribute_id = a.id
    </select>

    <select id="selectWorkerLevelDepth" parameterType="long" resultType="long">
        select ifnull((select max(w.level) - d.level from worker w where w.left > d.left and d.right > w.right and w.status = 1), 0)
          from worker d where d.object_id = #{objectId}
    </select>

    <insert id="insertUserHistory" parameterType="ru.complitex.jedani.worker.entity.UserHistory">
        insert into user_history (user_id, login, password, `group`, worker_id)
            value (#{userId}, #{login}, #{password}, #{group}, #{workerId})
    </insert>

    <sql id="selectWorkerUserHistoriesSql">
        select 'worker' as entity_name, wa_uh.* from ((select a.id*3 as id, a.entity_attribute_id, a.text, a.number,
            a.date, a.start_date, a.user_id
        from worker_attribute a left join worker d on a.domain_id = d.id
            where d.object_id = #{map.objectId})
        union all
        (select id*5 as id, 1000, concat_ws(' ', IF(uh.login is not null, concat('login: ', uh.login), ''),
            IF(uh.password is not null, concat(' password_hash: ', substr(uh.password, 1, 8)), ''),
            IF(uh.group is not null, concat(' group: ', uh.group), '')),
            null, null, uh.date as start_date, uh.worker_id as user_id
            from user_history uh where uh.user_id = #{map.userId})) wa_uh
        order by wa_uh.start_date desc
    </sql>

    <!--suppress SqlResolve -->
    <select id="selectWorkerUserHistories" parameterType="ru.complitex.common.entity.FilterWrapper"
            resultMap="ru.complitex.domain.mapper.AttributeMapper.attributeResultMap">
        <include refid="selectWorkerUserHistoriesSql"/>
        ${limit}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectWorkerUserHistoriesCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="long">
        select count(*) from (<include refid="selectWorkerUserHistoriesSql"/>) c
    </select>
</mapper>
