<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.jedani.worker.mapper.WorkerNodeMapper">
    <resultMap id="workerNodeResultMap" type="ru.complitex.jedani.worker.entity.WorkerNode">
        <id column="object_id" property="objectId"/>
        <result column="manager_id" property="managerId"/>
        <result column="left" property="left"/>
        <result column="right" property="right"/>
        <result column="level" property="level"/>
        <result column="registration_date" property="registrationDate"/>
    </resultMap>

    <select id="selectAllWorkerNodes" resultMap="workerNodeResultMap">
        select w.object_id, wa_m.number manager_id, w.left, w.right, w.level, wa_c.date registration_date from worker w
            left join worker_attribute wa_m on wa_m.domain_id = w.id and wa_m.entity_attribute_id = 17 and wa_m.status = 1
            left join worker_attribute wa_c on wa_c.domain_id = w.id and wa_c.entity_attribute_id = 14 and wa_c.status = 1
        where w.status = 1
    </select>

</mapper>