<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.jedani.worker.mapper.WorkerMapper">
    <resultMap id="workerResultMap" type="ru.complitex.jedani.worker.entity.Worker"
               extends="ru.complitex.domain.mapper.DomainMapper.domainResultMap">
    </resultMap>

    <select id="selectMaxJId" resultType="string">
        select max(lpad(`text`, 6, '0')) from worker_attribute where entity_attribute_id = 1
    </select>

    <select id="selectIsExistJId" resultType="boolean">
        select count(*) > 0 from worker_attribute where entity_attribute_id = 1 and `text` = #{jid}
    </select>

    <select id="selectSubWorkersCount" parameterType="long" resultType="int">
        select count(wa.id)from  worker_attribute wa
          where wa.entity_attribute_id = 19 and wa.status = 1 and (wa.text = #{objectId} or
            wa.text like concat('%/', #{objectId}, '/%') or  wa.text like concat('%/', #{objectId}));
    </select>

</mapper>