<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="select-list">
        <ul class="list-group" wicket:id="container">
            <li wicket:id="inputs" class="list-group-item">
                <div wicket:id="group" class="input-group">
                    <input wicket:id="input" type="text" class="form-control"/>

                    <span class="input-group-btn">
                        <button wicket:id="remove" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </span>
                </div>
                <input wicket:id="view" type="text" class="form-control"/>
            </li>
        </ul>
        <div class="text-center">
            <a wicket:id="add">Добавить</a>
        </div>
    </div>
</wicket:panel>