<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="select-list">
        <ul class="list-group" wicket:id="container">
            <li wicket:id="selects" class="list-group-item">
                <div class="input-group">
                    <select wicket:id="select" type="text" class="form-control"></select>

                    <span class="input-group-btn">
                    <button wicket:id="remove" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
                </div>
            </li>
            <li class="text-center" style="list-style: none">
                <a wicket:id="add"><i class="glyphicon glyphicon-plus" style="padding: 5px 12px"></i></a>
            </li>
        </ul>
    </div>
</wicket:panel>
