<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="autoMappingBehavior" value="NONE"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="ru.complitex.common.mybatis.IdEnumTypeHandler" javaType="ru.complitex.domain.entity.Status"/>
        <typeHandler handler="ru.complitex.common.mybatis.IdEnumTypeHandler" javaType="ru.complitex.domain.entity.ValueType"/>
    </typeHandlers>

    <environments default="jedani">
        <environment id="jedani">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/Jedani"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ru/complitex/domain/mapper/SequenceMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/EntityMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/EntityAttributeMapper.xml"/>        
        <mapper resource="ru/complitex/domain/mapper/EntityValueMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/DomainMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/DomainNodeMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/AttributeMapper.xml"/>
        <mapper resource="ru/complitex/domain/mapper/ValueMapper.xml"/>       
        
        <mapper resource="ru/complitex/user/mapper/UserMapper.xml"/>
        <mapper resource="ru/complitex/user/mapper/UserGroupMapper.xml"/>

        <mapper resource="ru/complitex/jedani/worker/mapper/WorkerMapper.xml"/>
    </mappers>
</configuration>