<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.jedani.user.mapper.UserMapper">
    <select id="ping" resultType="string">
        select concat('pong ', now())
    </select>

    <insert id="insertUser" parameterType="ru.complitex.jedani.user.entity.User">
        insert into user (id, email, encrypted_password, ancestry, j_id, reset_password_token, reset_password_send_at,
                          remember_created_at, created_at, updated_at, mk_status, first_name, second_name, last_name,
                          phone, city_id, manager_rank_id, involved_at, full_ancestry_path, depth_level, ancestry_depth,
                          contact_info, birthday, fired_status, old_parent_id, old_child_id)
        value (#{id}, #{email}, #{encryptedPassword}, #{ancestry}, #{jId}, #{resetPasswordToken}, #{resetPasswordSendAt},
          #{rememberCreatedAt}, #{createdAt}, #{updatedAt}, #{mkStatus}, #{firstName}, #{secondName}, #{lastName}, #{phone},
          #{cityId}, #{managerRankId}, #{involvedAt}, #{fullAncestryPath}, #{depthLevel}, #{ancestryDepth}, #{contactInfo},
          #{birthday}, #{firedStatus}, #{oldParentId}, #{oldChildId})
    </insert>

    <update id="updateUser" parameterType="ru.complitex.jedani.user.entity.User">
        update user
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="encryptedPassword != null">encrypted_password = #{encryptedPassword},</if>
            <if test="ancestry != null">ancestry = #{ancestry},</if>
            <if test="jId != null">j_id = #{jId},</if>
            <if test="resetPasswordToken != null">reset_password_token = #{resetPasswordToken},</if>
            <if test="resetPasswordSendAt != null">reset_password_send_at = #{resetPasswordSendAt},</if>
            <if test="rememberCreatedAt != null">remember_created_at = #{rememberCreatedAt},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="mkStatus != null">mk_status = #{mkStatus},</if>
            <if test="firstName != null">first_name = #{firstName},</if>
            <if test="secondName != null">second_name = #{secondName},</if>
            <if test="lastName != null">last_name = #{lastName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="managerRankId != null">manager_rank_id = #{managerRankId},</if>
            <if test="involvedAt != null">involved_at = #{involvedAt},</if>
            <if test="fullAncestryPath != null">full_ancestry_path = #{fullAncestryPath},</if>
            <if test="depthLevel != null">depth_level = #{depthLevel},</if>
            <if test="ancestryDepth != null">ancestry_depth = #{ancestryDepth},</if>
            <if test="contactInfo != null">contact_info = #{contactInfo},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="firedStatus != null">fired_status = #{firedStatus},</if>
            <if test="oldParentId != null">old_parent_id = #{oldParentId},</if>
            <if test="oldChildId != null">old_child_id = #{oldChildId},</if>
        </set>
        where id = #{id}
    </update>

    <select id="hasUser" parameterType="int" resultType="boolean">
        select count(id) > 0 from user where id = #{id}
    </select>

    <resultMap id="userResultMap" type="ru.complitex.jedani.user.entity.User">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="encrypted_password" property="encryptedPassword"/>
        <result column="ancestry" property="ancestry"/>
        <result column="j_id" property="jId"/>
        <result column="reset_password_token" property="resetPasswordToken"/>
        <result column="reset_password_send_at" property="resetPasswordSendAt"/>
        <result column="remember_created_at" property="rememberCreatedAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="mk_status" property="mkStatus"/>
        <result column="first_name" property="firstName"/>
        <result column="second_name" property="secondName"/>
        <result column="last_name" property="lastName"/>
        <result column="phone" property="phone"/>
        <result column="city_id" property="cityId"/>
        <result column="manager_rank_id" property="managerRankId"/>
        <result column="involved_at" property="involvedAt"/>
        <result column="full_ancestry_path" property="fullAncestryPath"/>
        <result column="depth_level" property="depthLevel"/>
        <result column="ancestry_depth" property="ancestryDepth"/>
        <result column="contact_info" property="contactInfo"/>
        <result column="birthday" property="birthday"/>
        <result column="fired_status" property="firedStatus"/>
        <result column="old_parent_id" property="oldParentId"/>
        <result column="old_child_id" property="oldChildId"/>
    </resultMap>

    <sql id="selectUserWhere">
        <where>
            <if test="object.id != null">and id = #{object.id}</if>
            <if test="object.email != null">and email = #{object.email}</if>
            <if test="object.firstName != null">and first_name = #{object.firstName}</if>
            <if test="object.secondName != null">and second_name = #{object.secondName}</if>
            <if test="object.lastName != null">and last_name = #{object.lastName}</if>
        </where>
    </sql>

    <select id="selectUserList" parameterType="ru.complitex.common.entity.FilterWrapper" resultMap="userResultMap">
        select * from user <include refid="selectUserWhere"/> ${orderLimit}
    </select>

    <select id="selectUserListCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="int">
        select count(id) from user <include refid="selectUserWhere"/>
    </select>

    <select id="selectUser" parameterType="int" resultMap="userResultMap">
        select * from user where id = #{id}
    </select>
</mapper>