<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.complitex.domain.mapper.AttributeMapper">
    <!--suppress SqlResolve -->
    <insert id="insertAttribute" parameterType="ru.complitex.domain.entity.Attribute" useGeneratedKeys="true" keyProperty="id">
        insert into `${entityName}_attribute` (`object_id`, `entity_attribute_id`, `text`, `number`, `start_date`, `end_date`, `status`)
        value (#{objectId}, #{entityAttributeId}, #{text}, #{number}, #{startDate}, #{endDate}, #{status})
    </insert>

</mapper>