<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.domain.entity.StringValue">
    <!--suppress SqlResolve -->
    <insert id="insertStringValue" parameterType="ru.complitex.domain.entity.StringValue">
        insert into `${entityName}_string_value`(`value_id`, `locale_id`, `value`) value (#{valueId}, #{localeId}, #{value})
    </insert>

</mapper>